<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="L AND T">
    <test name="SMOKE">
        <classes>
            <class name="connectionsTest"/>
            <class name="RegistrationTest"/>
            <class name="UserTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->